body,
html {
    height: 100vh;
    background-color: #F9F3F2;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
    /* overflow: hidden; */

}

.navbar-fixed {
    padding: 0 !important;
}

::-webkit-scrollbar {
    visibility: hidden;
}

.line {
    border: 1px solid #333;
    width: 100%;
}


/* 
==============
LITTLE HELPERS
==============
*/

.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}


/* 
=========
HOME PAGE
=========
*/

nav {
    background: #F9F3F2;
    box-shadow: none;
    width: 100%;


}

#nav-mobile>li>a {
    color: #333;
}

.top-homepage-contents {
    position: relative;
    height: calc(100vh - 64px);
    width: 100%;
    z-index: 200;

}

.main-logo-wrap,
.main-blurb-wrap {
    height: 100%;
    flex-flow: column;
}

.main-blurb-wrap {
    /* padding: 0px 100px !important; */
}

.top-homepage-blurb,
.subheading {
    font-family: 'Yeseva One', cursive;
}

.top-homepage-blurb {
    line-height: 90.5%;
    font-size: 64px;

}

.subheading {
    text-align: left;
    line-height: 105% !important;
    width: 100%;
    font-size: 25px;
    opacity: 0.6;
}

.top-homepage-btn-wrap {
    width: 100%;
    z-index: 200;

}

.top-homepage-btns {
    height: 50px;
    width: 210px;
    font-family: 'Yeseva One', cursive;
    border: none;
    font-size: 20px;

}

.services-btn {
    background-color: #333;
    color: #f7f7f7;
}

.contact-btn {
    background-color: #F9F3F2;
    border: 1px solid #333;
    margin-left: 25px;
}


/* 
=================
SERVICES CONTENTS
=================
*/


.services-section {
    position: absolute;
    height: fit-content;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F9F3F2;
    flex-flow: column;

    visibility: hidden;

}

.what-we-de-section {
    margin-top: 150px;
    width: 100%;
    background-color: #333;
    color: #f7f7f7;

}



.services-top {
    width: 100%;
    height: 15%;
}

.services-section-title {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

.services-list-wrap {
    height: 70%;
    width: 100%;
}

.service-headers-wrap {
    flex-flow: column;
    font-size: 1.3rem;
    margin: 0px 50px;

}

.content-management-list {
    text-align: center;

}

.services-footer {
    height: 15%;
    width: 100%;
}


.close-btn {

    font-size: 2rem;
    color: #333;
    margin-top: 20px;
    cursor: pointer;

}


.content_management_list {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
}

.collapsible-body-btn {
    height: 50px;
    width: 210px;
    font-family: 'Yeseva One', cursive;
    border: none;
    font-size: 20px;
    background-color: #333;
    color: #f7f7f7;


}

/* 
===================
TESTIMONIAL SECTION
===================
*/

.testimonial-section {
    height: 100vh;
}

.testimonials-row-wrap {
    flex-flow: row;
}

.testimonials-title-wrap {
    height: 15%;
    width: 100%;
    margin-top: 250px;
    flex-flow: column;
    font-size: 20px;

}

.testimonials-title {
    text-transform: uppercase;
    font-weight: 300;

}

.testimonials-wrap {
    width: 100%;
    height: 70%;
}

.testimonial-card {
    background-color: #F9F3F2;
    border: 1px solid #333;
    margin: 0px 15px;
    color: #333;
    height: 200px;
    width: 500px;
    padding: 30px;
    flex-flow: column;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.07),
        0 6.7px 5.3px rgba(0, 0, 0, 0.05),
        0 12.5px 10px rgba(0, 0, 0, 0.042),
        0 22.3px 17.9px rgba(0, 0, 0, 0.035),
        0 41.8px 33.4px rgba(0, 0, 0, 0.028),
        0 100px 80px rgba(0, 0, 0, 0.02);

}

.testimonial-card p {
    margin: 0;
}

.quote-icon-wrap {
    width: 100%;
}

.testimonial-blurb {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

/* 
============
CONTACT PAGE
============
*/

.contact-form-wrap {
    height: 90%;
}

form label {
    font-size: 1.2rem;

    display: none;
}

#id_contact {
    margin: 30px 0px;
}

textarea::placeholder {
    font-size: 1.3rem;
    color: #333;

}

::-webkit-input-placeholder {
    color: #333;
}

.messages {
    height: 85%;
    flex-flow: column;
}

.info {
    font-size: 1.3rem;
}

.home-btn {
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
    cursor: pointer;

}

#id_name {
    /* font-weight: 700; */
}

#id_message {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5rem;
    height: 250px;
    resize: none;
}

.submit-message-btn {
    background-color: #333;
    color: #f7f7f7;
    height: 50px;
    width: 210px;
    font-family: 'Yeseva One', cursive;
    border: none;
    font-size: 20px;

}

/* 
===============
WHAT WE DO PAGE
===============
*/

.what-we-do-blurb-wrap {
    height: 35%;
    width: 85%;

}

.what-we-do-blurb {
    margin: 0px 20px !important;
    padding: 0;

}

.what-we-do-title {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    /* font-weight: bold; */

}

.what-we-do-blurb p {
    font-size: 18px;
    font-weight: 300;
}

.what-we-do-contact-btn-wrap {
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;

}

.what-we-do-contact-btn {
    width: 100%;
    height: 50px;
    background-color: #F9F3F2;
    color: #333;
    border: 2px solid #333;
    font-family: 'Yeseva One', cursive;
    cursor: pointer;


}










/* 
================
HOVERS & SUCH...
================
*/

.link-hover:hover {
    background-color: transparent !important;
    opacity: 0.5;
    transition: 0.3s;
}

.services-btn:hover {
    background-color: #F9F3F2;
    border: 1px solid #333;
    color: #333;
    transition: 0.3s ease;
}

.services-btn:active {
    background-color: #000;
    transition: 0.3s;
}

.services-btn:focus {
    background-color: #000;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: #000;
    color: #f7f7f7;
    transition: 0.3s;
}

.what-we-do-contact-btn:hover {
    background-color: #333;
    color: #f7f7f7;
    transition: 0.3s;
}

.collapsible-body-btn:hover {
    background-color: #F9F3F2;
    border: 1px solid #333;
    color: #333;
    transition: 0.3s;
}