<ul class="content_management_list_wrap">
    <li class="content_management_list">{{ big_list.content_management_service_1 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_2 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_3 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_4 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_5 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_6 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_7 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_8 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_9 }}</li>
    <li class="content_management_list">{{ big_list.content_management_service_10 }}</li>
</ul>