<div class="testimonials-content">
    <div class="row testimonials-row-wrap flexed">
        <div class="testimonial-card flexed">
            <div class="quote-icon-wrap">
                <i class="fas fa-quote-left"></i>
            </div>
            <p class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa accusamus cum
                provident quibusdam doloribus
                mollitia amet, laboriosam nemo ipsam aperiam corrupti dolor maxime explicabo nulla esse ad, eaque
                in.<br>
            </p>
            <div style="text-align: right;" class="quote-icon-wrap">
                <i class="fas fa-quote-right"></i>
            </div>
            <p style="font-weight: 600;">Jim Browning</p>

        </div>
        <div class="testimonial-card flexed">
            <div class="quote-icon-wrap">
                <i class="fas fa-quote-left"></i>
            </div>
            <p class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa accusamus cum
                provident quibusdam doloribus
                mollitia amet, laboriosam nemo ipsam aperiam corrupti dolor maxime explicabo nulla esse ad, eaque
                in.<br>
            </p>
            <div style="text-align: right;" class="quote-icon-wrap">
                <i class="fas fa-quote-right"></i>
            </div>
            <p style="font-weight: 600;">Jim Browning</p>

        </div>
        <div class="testimonial-card flexed">
            <div class="quote-icon-wrap">
                <i class="fas fa-quote-left"></i>
            </div>
            <p class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa accusamus cum
                provident quibusdam doloribus
                mollitia amet, laboriosam nemo ipsam aperiam corrupti dolor maxime explicabo nulla esse ad, eaque
                in.<br>
            </p>
            <div style="text-align: right;" class="quote-icon-wrap">
                <i class="fas fa-quote-right"></i>
            </div>
            <p style="font-weight: 600;">Jim Browning</p>

        </div>
    </div>
    <div class="row testimonials-row-wrap flexed">
        <div class="testimonial-card flexed">
            <div class="quote-icon-wrap">
                <i class="fas fa-quote-left"></i>
            </div>
            <p class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa accusamus cum
                provident quibusdam doloribus
                mollitia amet, laboriosam nemo ipsam aperiam corrupti dolor maxime explicabo nulla esse ad, eaque
                in.<br>
            </p>
            <div style="text-align: right;" class="quote-icon-wrap">
                <i class="fas fa-quote-right"></i>
            </div>
            <p style="font-weight: 600;">Jim Browning</p>

        </div>
        <div class="testimonial-card flexed">
            <div class="quote-icon-wrap">
                <i class="fas fa-quote-left"></i>
            </div>
            <p class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa accusamus cum
                provident quibusdam doloribus
                mollitia amet, laboriosam nemo ipsam aperiam corrupti dolor maxime explicabo nulla esse ad, eaque
                in.<br>
            </p>
            <div style="text-align: right;" class="quote-icon-wrap">
                <i class="fas fa-quote-right"></i>
            </div>
            <p style="font-weight: 600;">Jim Browning</p>

        </div>
        <div class="testimonial-card flexed">
            <div class="quote-icon-wrap">
                <i class="fas fa-quote-left"></i>
            </div>
            <p class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa accusamus cum
                provident quibusdam doloribus
                mollitia amet, laboriosam nemo ipsam aperiam corrupti dolor maxime explicabo nulla esse ad, eaque
                in.<br>
            </p>
            <div style="text-align: right;" class="quote-icon-wrap">
                <i class="fas fa-quote-right"></i>
            </div>
            <p style="font-weight: 600;">Jim Browning</p>

        </div>
    </div>
</div>