{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- TOP HOMEPAGE CONTENTS -->
<section class="row top-homepage-contents">
    <div class="col s6 flexed remove-me main-logo-wrap">
        <img src="{% static 'images/mainlogo.png' %}" alt="Main Logo">
    </div>

    <div class="col s6 flexed main-blurb-wrap">
        <div class="heading-subheading-wrap remove-me">
            <h3 class="top-homepage-blurb">Finally!<br>
                a better, faster and more<br>
                personal Virtual Assistant.

            </h3>
            <p class="subheading mt-3 remove-me">Check out our services<br>
                and what we offer.</p>
            <div class="top-homepage-btn-wrap">
                <button class="top-homepage-btns services-btn btn-to-services remove-me">Services</button>

                <a href="{% url 'contact' %}"><button
                        class="top-homepage-btns contact-btn remove-me">Contact</button></a>
            </div>
        </div>
    </div>

    <!-- SERVICES CONTENTS -->
    <section class="services-section flexed">


        <div class="services-list-wrap flexed">
            <div class="service-headers-wrap flexed">
                <h4>Content <span style="font-weight: 700;">Management</span></h4>
                <p class="content-management-list">
                    {% for question in questions %}
                    {% include 'savesite_templates/snippets/body_snippets.html' with big_list=question %}
                    {% endfor %}
                </p>
                <a href="{% url 'contact' %}" class="mt-1 flexed collapsible-body-btn">Contact us</a>

            </div>
            <div class="service-headers-wrap flexed">
                <h4>Online <span style="font-weight: 700;">Tech</span></h4>
                <p class="content-management-list">
                    {% for question in questions %}
                    {% include 'savesite_templates/snippets/body_snippets.html' with big_list=question %}
                    {% endfor %}
                </p>
                <a href="{% url 'contact' %}" class="mt-1 flexed collapsible-body-btn">Contact us</a>
            </div>
            <div class="service-headers-wrap flexed">
                <h4>Social <span style="font-weight: 700;">Media</span></h4>
                <p class="content-management-list">
                    {% for question in questions %}
                    {% include 'savesite_templates/snippets/body_snippets.html' with big_list=question %}
                    {% endfor %}
                </p>
                <a href="{% url 'contact' %}" class="mt-1 flexed collapsible-body-btn">Contact us</a>
            </div>
        </div>

        <div class="close-btn">⟵</div>

        <footer class="services-footer"></footer>

    </section>

</section>

<section id="testimonials" class="testimonial-section">
    <div class="testimonials-title-wrap flexed">
        <h4 class="testimonials-title flexed">Here's what <span style="visibility: hidden;">.</span><span
                style="font-weight: 700 !important;">our clients think</span>
        </h4>
        <p class="testimonial-blurb">Our clients think we're the best thing since sliced bread. Take a look at the testimonials.<br>
        We're 100% trusted and you can believe in us and all that jazz. We do everything you want you wont believe it!
        </p>

    </div>
    <div class="testimonials-wrap flexed">
        {% include 'savesite_templates/snippets/testimonial_cards.html' %}
    </div>

</section>


{% endblock content %}