{% extends 'base.html' %}



{% block content %}
<div class="row mt-5 what-we-do-blurb-wrap">
    <div class="col s6 what-we-do-blurb">
        <h5 class="what-we-do-title">What We Do.</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolorum maxime soluta harum
            expedita, doloremque ipsa veritatis illum quidem delectus sapiente, cumque alias suscipit pariatur numquam
            placeat eveniet. Quia, reiciendis.
            Ipsum quis sed voluptate possimus vero animi adipisci labore sapiente, dolorum accusamus cum aliquam ducimus
            repellendus doloribus ipsam doloremque, tempora neque. Aliquam laudantium est consectetur mollitia commodi
            eaque iure soluta.
            Quis, nobis placeat id eveniet aliquam recusandae voluptate rem impedit dicta sit ipsum obcaecati architecto
            delectus tempora, non quos? Consectetur voluptate quisquam dolores blanditiis iusto odio non repellat
            voluptatem dolore!</p>
    </div>
    <div class="col s6 what-we-do-blurb">
        <h5 class="what-we-do-title">Our Promise To You.</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolorum maxime soluta harum
            expedita, doloremque ipsa veritatis illum quidem delectus sapiente, cumque alias suscipit pariatur numquam
            placeat eveniet. Quia, reiciendis.
            Ipsum quis sed voluptate possimus vero animi adipisci labore sapiente, dolorum accusamus cum aliquam ducimus
            repellendus doloribus ipsam doloremque, tempora neque. Aliquam laudantium est consectetur mollitia commodi
            eaque iure soluta.
            Quis, nobis placeat id eveniet aliquam recusandae voluptate rem impedit dicta sit ipsum obcaecati architecto
            delectus tempora</p>
    </div>
</div>
<div class="row what-we-do-contact-btn-wrap">
    <a href="{% url 'contact' %}" class="what-we-do-contact-btn flexed">Get in touch!</a>

</div>
{% endblock content %}